.car-card-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 350px;
  column-gap: 10px;
}

.car-card {
  width: 300px;

  &img {
    object-fit: fill;
  }
}

.car-card > .head {
  margin-bottom: 1em;
  max-height: 250px;
}

.car-card > .mid {
}

.car-card > .end {
}

.car-card .price {
}

.car-card .model {
}

@media (min-width: 1024px) {
  .car-card-container {
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
  }

  .car-card {
    width: 380px;
  }

  .car-card > .head {
    max-height: 500px;
  }
}
