.car-card-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 350px;
  gap: 15px;
}

.car-card {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.car-card > .head {
  margin-bottom: 1em;
  height: 200px;
}

.car-card img {
  height: 100%;
  width: 100%;
}

.car-card .vl {
  display: inline-block;
  height: 20px;
  width: 2px;
  background-color: black;
  margin-inline: 1em;
  margin-top: 0.5em;
}

.car-card .mid {
  margin-block: 0.5em;
  padding-inline: 1em;
}

.car-card .price {
  font-size: 1.2em;
  font-weight: bold;
}

.car-card .model {
  font-weight: bold;
}

.car-card .btn {
  padding-inline: 1em;
}

@media (min-width: 1200px) {
  .car-card-container {
    grid-template-columns: 1fr 1fr;
    max-width: 1050px;
  }

  .car-card {
    width: 500px;
  }

  .car-card > .head {
    height: 400px;
  }
}
