@import url("./reset.css");
@import url("./vars.css");
@import url("./layout.css");
@import url("./forms.css");
@import url("./cards.css");

html {
  font-size: 16px;
  font-family: sans-serif;
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
